<header class="page-header">
    <div class="container">
        <nav class="header-navigation">
            <a href="./index.html">
                <svg class="header-log" width="84.12" height="30">
                    <use href="./images/spryite-footer.svg#icon-logo-1"></use>
                </svg>
            </a>
            <a class="header-link" href="./index.html" data-logo>
                <svg class="header-svg" width="84.12" height="30">
                    <use href="./images/spryite-header.svg#header-icon-logo"></use>
                </svg>
            </a>
            <div class="reverse">
                <button type="button" class="button-call">Консультация по телефону</button>
                <button type="button" class="menu" aria-expanded="false" aria-controls="menu-container"
                    data-menu-button>
                    <svg width="20" height="20" aria-label="переключатель мобильного меню">
                        <use class="header-cross" href="./images/spryite-header.svg#header-cross"></use>
                        <use class="header-menu" href="./images/spryite-header.svg#header-menu"></use>
                    </svg>
                </button>
                <div class="menu-nav" id="menu-container" data-menu>
                    <div class="navigation-block">
                        <ul class="navigation-list">
                            <li class="navigation-list-item">
                                <a href="./index.html#our-program" class="nav-link">Программа обучения</a>
                            </li>
                            <li class="navigation-list-item">
                                <a href="./index.html#teachers" class="nav-link">О нас</a>
                            </li>
                            <li class="navigation-list-item">
                                <a href="./index.html#how-we-do-it" class="nav-link">Варианты обучения</a>
                            </li>
                            <li class="navigation-list-item">
                                <a href="./index.html#page-footer" class="nav-link">Контакты</a>
                            </li>
                        </ul>
                        <button type="button" class="button-call-menu">Консультация по телефону</button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>