.back-top {
    position: fixed;

    right: 60px;
    bottom: 100px;

    width: 70px;
    height: 70px;

    border-color: transparent;
    border-radius: 50%;
    background-color: var(--orange-color);
    opacity: 0.7;

    display: none;
}

.back-top:hover {
    opacity: 1;
}

.back-top::before,
.back-top::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.back-top::before {
    width: 5px;
    height: 25px;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px; 
    background-color: var(--white-color);
}

.back-top::after {
    width: 15px;
    height: 15px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: 5px solid var(--white-color);
    border-left: 5px solid var(--white-color);
}